<!doctype html>
<html lang="{% if page_props.lang %}{{ page_props.lang }}{% else %}en{% endif %}" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/libs.min.css"/>
        <link rel="stylesheet" type="text/css" href="/app.min.css"/>

        <link rel="icon" type="image/png" href="/favicon.png"/>

        {% if edit_link %}
            <link rel="edit" title="Редактировать страницу" href="{{ edit_link }}"/>
            <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="{{ edit_link }}"/>
        {% endif %}
        {% if canonical_link %}
            <link rel="canonical" href="{{ canonical_link }}"/>
        {% endif %}

        <meta name="og:site_name" content="{{ strings.site_name }}"/>
        {% block more_head %}{% endblock %}

        <title>{% block page_title %}{% if title %}{{ title }}{% else %}Wiki{% endif %} — {{ strings.site_name }}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="sep">
                <div id="hlinks" class="corsette">
                    <ul class="links">
                        <li><a class="logo" href="/wiki?name=Введение"><strong>Гид по Себежу</strong></a></li>
                        <li class="toggle"><a href="/wiki?name=История+Себежа">История</a></li>
                        <li class="toggle"><a href="/wiki?name=Природа">Природа</a></li>
                        <li class="toggle"><a href="/wiki?name=Культура">Культура</a></li>
                        <li class="toggle"><a href="/wiki?name=Куда+сходить">Гид</a></li>
                        <li class="toggle hidden">
                            <form method="get" action="/search">
                                <input class="search" type="text" name="search" placeholder="Поиск по сайту..." autocomplete="off"/>
                                <button type="reset"><i class="fas fa-times"></i></button>
                            </form>
                        </li>
                    </ul>
                    <ul class="buttons">
                        <li><a id="showsearch" href="/search"><i class="fas fa-search"></i></a></li>
                        <li><a id="showmap" href="/wiki?name=Карта+сайта"><i class="fas fa-bars"></i></a></li>
                    </ul>
                </div>
            </div>
            <div id="hmap" class="corsette">
                <ul class>
                    <li><a href="/wiki?name=Как+добраться">Как добраться</a></li>
                    <li><a href="/wiki?name=Куда+сходить">Куда сходить</a></li>
                    <li><a href="/wiki?name=Где+остановиться">Где остановиться</a></li>
                    <li><a href="/wiki?name=Список+людей">Интересные люди</a></li>
                </ul>
                <ul class>
                    <li><a href="/wiki?name=Достопримечательности">Достопримечательности</a></li>
                    <li><a href="/wiki?name=Где+поесть">Где поесть</a></li>
                    <li><a href="/wiki?name=Ночная+жизнь">Ночная жизнь</a></li>
                    <li><a href="/wiki?name=Меры+предосторожности">Меры предосторожности</a></li>
                </ul>
                <ul class>
                    <li><a href="/wiki?name=Себеж">Себеж</a></li>
                    <li><a href="/wiki?name=Себежский+район">Себежский район</a></li>
                    <li><a href="/wiki?name=Себежский+национальный+парк">Национальный парк</a></li>
                    <li><a href="/wiki?name=Озёра">Озёра</a></li>
                </ul>
                <ul class>
                    <li><a href="/wiki?name=О+сайте">О сайте</a></li>
                    <li><a href="/wiki?name=Редакторам">Прислать информацию</a></li>
                    <li><a href="/wiki?name=Лента+обновлений">Лента обновлений</a></li>
                    <li><a href="/wiki/index">Все страницы</a></li>
                </ul>
            </div>
        </header>

        <main class="container" role="main">
            <div class="row"{% if page %} itemscope itemtype="http://schema.org/Article"{% endif %}>
                <div class="col-md-12">
                    {% block page_header %}
                        <div class="page-header">
                            <h1>{% block page_h1 %}{% if title %}{{ title }}{% else %}It Works!{% endif %}{% endblock %}</h1>
                        </div>
                    {% endblock %}

                    {% block page_contents %}
                        <p>На этой странице пусто.</p>
                    {% endblock %}
                </div>
            </div>
        </main>

        <footer class="corsette">
            {% if not wiki_footer %}
                <p>Установите подвал по <a href="/wiki/edit?name=wiki:footer&amp;back={{ path }}">этой ссылке</a>.</p>
            {% else %}
                {{ wiki_footer|raw }}
            {% endif %}
        </footer>

        <div id="block" style="display: none"></div>

        <script type="text/javascript" src="/libs.min.js"></script>
        {% if host == "gid.local" %}
            <script type="text/javascript" src="/app.js"></script>
        {% else %}
            <script type="text/javascript" src="/app.min.js"></script>
        {% endif %}

        {% include "parts/counters.twig" %}

        {% block after_body %}{% endblock %}
    </body>
</html>
