<!doctype html>
<html lang="{% if page_props.lang %}{{ page_props.lang }}{% else %}en{% endif %}" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/libs.min.css"/>
        <link rel="stylesheet" type="text/css" href="/app.min.css"/>

        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

        {% if edit_link %}
            <link rel="edit" title="Редактировать страницу" href="{{ edit_link }}"/>
            <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="{{ edit_link }}"/>
        {% endif %}

        <meta name="og:site_name" content="{{ strings.site_name }}"/>
        {% block more_head %}{% endblock %}

        <title>{% block page_title %}{% if title %}{{ title }}{% else %}Wiki{% endif %} — {{ strings.site_name }}{% endblock %}</title>
    </head>
    <body>
        {% if false %}
            <header>
                <div class="wrapper">
                    <h1><a href="/wiki?name=Введение">Гид по <b>Себежу</b></a></h1>
                    <ul>
                        <li><a href="/wiki?name=Список мест">Места</a></li>
                        <li><a href="/wiki?name=Чем заняться">Занятия</a></li>
                        <li><a href="/wiki?name=Куда сходить">Афиша</a></li>
                    </ul>
                    <ul class="last">
                        <li><a href="/wiki?name=Welcome">ENGLISH</a></li>
                    </ul>
                </div>
            </header>
        {% endif %}

        <div class="container">
            <aside>
                <div class="logo"><a href="/wiki?name=Введение" title="Открыть главную страницу"><img src="/images/logo.jpg" width="150" height="266" alt="logo"/><span class="sub">Гид по Себежу</span></a></div>

                <ul>
                    {% if page_props.language == "en" %}
                        <li><a href="/wiki?name=Welcome">Home page</a></li>
                        <li><a href="/wiki/index?sort=updated">Recent edits</a></li>
                        <li><a href="/wiki?name=About this guide">About this guide</a></li>
                        {% if page_name %}
                            <li><a href="/short?name={{ page_name }}">QR-code for this page</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="/">Главная страница</a></li>
                        <li><a href="/wiki?name=История Себежа">История Себежа</a></li>
                        <li><a href="/wiki?name=Куда сходить">Куда сходить</a></li>
                        <li><a href="/wiki?name=Список людей">Интересные люди</a></li>
                        <li><a href="/wiki?name=Гид">Путеводитель</a></li>
                        <li><a href="/wiki?name=Лента обновлений">Лента обновлений</a></li>
                        <li><a href="/wiki?name=О+сайте">О сайте</a></li>
                    {% endif %}
                </ul>

                <form method="get" action="/search">
                    <input class="search" type="text" name="query" value="{{ query }}" placeholder="Поиск" autocomplete="off" style="width: 140px; margin: 10px 0 0; padding: 2px 4px; border: solid 1px #ccc"/>
                </form>
            </aside>

            <main class="container" role="main">
                <div class="row">
                    <div class="col-md-12">
                        {% block page_header %}
                            <div class="page-header">
                                <h1>{% block page_h1 %}{% if title %}{{ title }}{% else %}It Works!{% endif %}{% endblock %}</h1>
                            </div>
                        {% endblock %}

                        {% block page_contents %}
                            <p>На этой странице пусто.</p>
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>

        <footer>
            <p>Текст путеводителя доступен по лицензии <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike</a>.  Разрешено копирование в любом объёме и влюбом виде, при указании ссылки на первоисточник.</p>
            <ul id="places">
                <li><a href="/wiki?name=О+сайте">О сайте</a></li>
                <li><a href="/wiki/index">Полный список страниц</a></li>
                <li><a href="/files">Файлы</a></li>
                <li><a href="https://bitbucket.org/umonkey/sebezh-gid.ru/src" target="_blank">Исходный код сайта</a></li>
                <li><a href="https://metrika.yandex.ru/dashboard?id=41793534" target="_blank">Посещаемость</a></li>
            </ul>
        </footer>

        <div id="block" style="display: none"></div>

        <script type="text/javascript" src="/libs.min.js"></script>
        <script type="text/javascript" src="/app.min.js"></script>

        {% include "parts/counters.twig" %}

        {% block after_body %}{% endblock %}
    </body>
</html>
