<!doctype html>
<html lang="{% if page_props.lang %}{{ page_props.lang }}{% else %}en{% endif %}" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/libs.min.css"/>
        <link rel="stylesheet" type="text/css" href="/app.min.css"/>

        <link rel="icon" type="image/png" href="/favicon.png"/>

        {% if edit_link %}
            <link rel="edit" title="Редактировать страницу" href="{{ edit_link }}"/>
            <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="{{ edit_link }}"/>
        {% endif %}

        <meta name="og:site_name" content="{{ strings.site_name }}"/>
        {% block more_head %}{% endblock %}

        <title>{% block page_title %}{% if title %}{{ title }}{% else %}Wiki{% endif %} — {{ strings.site_name }}{% endblock %}</title>
    </head>
    <body>
        {% if false %}
            <header>
                <div class="wrapper">
                    <h1><a href="/wiki?name=Введение">Гид по <b>Себежу</b></a></h1>
                    <ul>
                        <li><a href="/wiki?name=Список мест">Места</a></li>
                        <li><a href="/wiki?name=Чем заняться">Занятия</a></li>
                        <li><a href="/wiki?name=Куда сходить">Афиша</a></li>
                    </ul>
                    <ul class="last">
                        <li><a href="/wiki?name=Welcome">ENGLISH</a></li>
                    </ul>
                </div>
            </header>
        {% endif %}

        <div class="container">
            <aside>
                {% if wiki_sidebar %}
                    {{ wiki_sidebar|raw }}
                {% else %}
                    <p>Edit sidebar <a href="/wiki/edit?name=wiki:sidebar&amp;back={{ path }}">here</a>.
                {% endif %}
            </aside>

            <main class="container" role="main">
                <div class="row">
                    <div class="col-md-12">
                        {% block page_header %}
                            <div class="page-header">
                                <h1>{% block page_h1 %}{% if title %}{{ title }}{% else %}It Works!{% endif %}{% endblock %}</h1>
                            </div>
                        {% endblock %}

                        {% block page_contents %}
                            <p>На этой странице пусто.</p>
                        {% endblock %}
                    </div>
                </div>
            </main>
        </div>

        <footer>
            {% if not wiki_footer %}
                <p>Установите подвал по <a href="/wiki/edit?name=wiki:footer&amp;back={{ path }}">этой ссылке</a>.</p>
            {% else %}
                {{ wiki_footer|raw }}
            {% endif %}
        </footer>

        <div id="block" style="display: none"></div>

        <script type="text/javascript" src="/libs.min.js"></script>
        <script type="text/javascript" src="/app.min.js"></script>

        {% include "parts/counters.twig" %}

        {% block after_body %}{% endblock %}
    </body>
</html>
