{% extends "base.twig" %}

{% block page_title %}re:{{ page_name }} — гид по Себежу{% endblock %}

{% block page_h1 %}Редактирование страницы «{{ page_name }}»{% endblock %}

{% block page_contents %}
 <form class="pedit" method="post" action="/edit">
  <input type="hidden" name="page_name" value="{{ page_name }}"/>

  <textarea class="form-control wiki" name="page_source" autofocus="autofocus">{{ page_source }}</textarea>

  <div class="form-actions">
   <button class="btn btn-primary">Сохранить</button> или <a href="/wiki?name={{ page_name }}">оставить как есть</a>
  </div>
 </form>
{% endblock %}
