{% extends "base.twig" %}

{% block more_head %}
 <link rel="edit" title="Редактировать страницу" href="/edit?name={{ page_name }}"/>
 <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="/edit?name={{ page_name }}"/>
{% endblock %}

{% block page_title %}{% if page_name == "Введение" %}Гид по Себежу{% else %}{{ page_title }} — {% if page_props.language == "en" %}Sebezh Guide{% else %}гид по Себежу{% endif %}{% endif %}{% endblock %}

{% block page_header %}
    <div class="page-header">
        {% if false %}
            {# это пока не готово #}
            <div class="icons">
                <a href="/wiki?name=Скачать+путеводитель"><i class="fa fa-download"></i></a>
                <a href="/wiki?name=QR-коды"><i class="fa fa-qrcode"></i></a>
                <a href="/wiki?name=Карты"><i class="fa fa-compass"></i></a>
                <a href="/wiki?name=О+сайте"><i class="fa fa-bars"></i></a>
            </div>
        {% endif %}
        <h1>{{ page_title }}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <div class="formatted">
        {{ page_html|raw }}

        {% if file and file.type == "image/jpeg" %}
            <a class="image" data-fancybox="gallery" href="{{ file.link }}">
                <img src="{{file.thumbnail}}"/>
            </a>

            <p>Код для вставки этого изображения:</p>
            <pre>[[File:{{ file.name }}]]</pre>
        {% endif %}
    </div>
{% endblock %}
