{% extends "base.twig" %}

{% block page_title %}Поиск «{{ query }}» — гид по Себежу{% endblock %}

{% block page_h1 %}Результаты поиска{% endblock %}

{% block more_head %}
    <meta name="robots" contents="noindex, follow"/>
{% endblock %}

{% block page_contents %}
    <form class="search" method="get" action="/search"><input type="text" name="query" value="{{ query }}" autofocus="focus" autocomplete="off"/><button>Найти</button></form>

    {% for res in results %}
        <div class="result">
            <p class="title"><a href="/wiki?name={{ res.name }}">{{ res.name }}</a></p>
            <p class="snippet">{{ res.snippet|raw }}</p>
            <p class="meta">Последняя редакция от {{ res.updated|date_simple }}</p>
        </div>
    {% endfor %}

    {% if results %}
        {# nothing #}
    {% elseif search_error %}
        <p>Извините, поиск временно не работает.</p>
        <p>Попробуйте <a href="https://yandex.ru/search/site/?searchid=2319971&amp;text={{ query }}&amp;web=0&amp;l10n=ru">поискать Яндексом</a>.</p>
        {% if host == "localhost:8080" %}
            <p>Для работы поиска на тестовом сервере нужно параллельно запустить make search.</p>
        {% endif %}
    {% else %}
        <p>К сожалению, по этому запросу ничего не найдено.</p>
    {% endif %}
{% endblock %}
