{% extends "base.twig" %}

{% block more_head %}
    <link rel="edit" title="Редактировать страницу" href="/wiki/edit?name={{ page.name }}"/>
    <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="/wiki/edit?name={{ page.name }}"/>

    <meta property="og:url" content="https://{{ host }}/wiki?name={{ page.name|url_encode }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    {% if page.image %}
        <meta property="og:image" content="{{ page.image|replace({"/i/thumbnails/": "/i/photos/"}) }}"/>
    {% else %}
        <meta property="og:image" content="/images/splash.jpg"/>
    {% endif %}
    {% if page.images %}
        {% for image in page.images %}
            <meta property="og:image" content="{{ image.src }}"/>
            {% if image.width %}
                <meta property="og:image:width" content="{{ image.width }}"/>
            {% endif %}
            {% if image.height %}
                <meta property="og:image:height" content="{{ image.height }}"/>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page.summary %}
        <meta name="description" property="og:description" content="{{ page.summary }}"/>
    {% endif %}

    {% if "File:" in page.name %}
        <meta name="robots" content="noindex"/>
    {% endif %}
{% endblock %}

{% block page_title %}{% if page.name == "Введение" %}Гид по Себежу{% else %}{{ page.title }} — {% if page.language == "en" %}Sebezh Guide{% else %}гид по Себежу{% endif %}{% endif %}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1 itemprop="name">{{ page.title }}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <div class="formatted" itemprop="articleBody">
        {% if page.en %}
            <p><i>You can read this page in English: <a href="/wiki?name={{ page.en }}">{{ page.en }}</a>.</i></p>
        {% elseif page.ru %}
            <p><i>Эта страница есть на русском языке: <a href="/wiki?name={{ page.ru }}">{{ page.ru }}</a>.</i></p>
        {% endif %}

        {{ page.html|typo }}

        {% if file and file.kind == "photo" %}
            <a class="image" data-fancybox="gallery" href="{{ file.link }}">
                <img src="{{ file.thumbnail }}"/>
            </a>

            {% if file.size %}
                <p>Размер <a href="{{ file.link }}">исходного изображения</a>: {{ file.size[0] }}×{{ file.size[1] }} пикселей.</p>
            {% endif %}

            {% if backlinks|length == 1 %}
                <p>Файл использован на странице <a href="/wiki?name={{ backlinks[0]|url_encode }}">{{ backlinks[0] }}</a>.</p>
            {% elseif backlinks %}
                <p>Файл использован на страницах:</p>
                <ul>
                    {% for l in backlinks %}
                        <li><a href="/wiki?name={{ l|url_encode }}">{{ l }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
