{% extends "base.twig" %}

{% block page_title %}re:{{ page_name }} — гид по Себежу{% endblock %}

{% block page_h1 %}Редактирование страницы «{{ page_name }}»{% endblock %}

{% block page_contents %}
    <form class="async pedit" method="post" action="/wiki/edit">
        <input type="hidden" name="page_name" value="{{ page_name }}"/>
        {% if page_section %}
            <input type="hidden" name="page_section" value="{{ page_section }}"/>
        {% endif %}

        <textarea class="form-control markdown wiki" name="page_source" autofocus="autofocus">{{ page_source }}</textarea>

        <div class="form-actions">
            <button class="btn btn-primary">Сохранить</button> или <a href="/wiki?name={{ page_name }}">оставить как есть</a> &middot; <a href="/wiki?name=Памятка+редактора" target="_blank">памятка редактора</a>
            <ul class="buttons wiki_buttons"></ul>
        </div>
    </form>

    {% include "parts/map_dialog.twig" with {"tag": page_name} %}
    {% include "parts/photo_dialog.twig" %}
{% endblock %}
